.pageContainer {
  /* padding: var(--spacing-md); */
  height: calc(100vh - 68px); /* 68px is the header height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}



.loading,
.error {
  padding: var(--spacing-xl);
  text-align: center;
  font-family: var(--font-body);
  font-size: 14px;
  color: var(--color-admin-text-muted);
}

.error {
  color: #dc3545;
}

